<!DOCTYPE html>
<html lang="es">
<head>
    <title>CoConcept</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <!-- There may be no need to use modal -->
    <div class="modal is-active">
        <div class="modal-content" style="max-height: 100%; max-width: 100%; height: 100vh; width: 100vw">
            <div class="hero is-fullheight">
                <div class="hero-body" style="padding-top: 0">
                    <div class="container">
                        <div class="is-flex" style="justify-content: flex-end; padding-bottom: 2rem;">
                            <figure class="image is-64x64">
                                <img src="img/close.svg">
                            </figure>
                        </div>
                        <div class="columns">
                            <div class="column has-text-black" style="line-height: 1.1">
                                <p class="is-size-1 is-bold" style="font-family: Times, Serif;">
                                    Get in touch!
                                </p>
                                <br>
                                <p class="is-size-2" style="font-family: Roboto, sans-serif;">
                                    Have a project in mind?<br>
                                    Let's talk.
                                </p>
                                <br>
                                <br>
                                <br>
                                <p class="is-size-3" style="font-family: Roboto, sans-serif;">
                                    Sant Pau Street 97-99<br>
                                    Sabadell, Barcelona<br><br>
                                    699 157 877
                                </p>
                            </div>
                            <div class="column is-two-thirds">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input is-large" type="text" placeholder="Your name">
                                                <!-- <input class="input is-large is-radiusless" type="text" placeholder="Your name" -->
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input is-large" type="text" placeholder="Your email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input is-large" type="text" placeholder="Company's name">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input is-large" type="text" placeholder="Phone number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <textarea class="textarea is-large" placeholder="Your message"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <button class="button is-link is-large is-fullwidth">Start Converstaion</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>