<!DOCTYPE html>
<html lang="es">
<head>
    <title>CoConcept</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
</head>
<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top is-transparent has-shadow">
        <div class="container navbar-container">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <p class="is-size-2 is-bold">NURIA COBOS</p>
                </div>

            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control is-size-4">WORKFLOW</p>
                            <p class="control is-size-4" style="margin: 0 3rem">PORTFOLIO</p>
                            <p class="button is-medium is-rounded is-link">GET IN TOUCH</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section is-medium" style="padding: 8rem 1.5rem;">
        <div class="container has-text-centered">
            <p class="is-size-3 is-bold">I enjoy figuring out how to make things better</p>
            <br>
            <p class="is-size-4">
                I'm interested in design as a way of thinking, a driver of meaningful change and a method of creating
                visual systems. I work to meet the high-level strategic goals of a project, but I'm also not afraid to sweat
                the details. Among other things, I'm especially into user research (just ask anyone who's ever met me).
                Here's how I work
            </p>
        </div>
    </section>
    <section class="section is-medium is-link" style="padding: 4.5rem 1.5rem;">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="is-size-3 is-bold">Who?</p>
                    <br>
                    <p class="is-size-4">
                        Every project should start focusing on understanding user behaviours, needs and motivations
                        through observation techniques, task analysis and other feedback methodologies. The better you
                        know the users, the more appropriate the design will be for them.
                    </p>
                </div>
                <div class="column">
                    <p class="is-size-3 is-bold">What?</p>
                    <br>
                    <p class="is-size-4">
                        During the definition stage we filter the information collected during the previous phase and
                        keep what really adds value and leads us to new interesting perspectives, delimiting the real
                        problem nad identifying the parts that will be key to obtaining a good and innovative result.
                    </p>
                </div>
                <div class="column">
                    <p class="is-size-3 is-bold">How?</p>
                    <br>
                    <p class="is-size-4">
                        This stage aims to generate a large number of ideas. The best ones will be selected to make a
                        first prototype and later be tested with the users. <br>
                        They will give us an essential feedback to choose the final model and improve it to adapt it
                        perfectly to their needs.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>