/**** RESPONSIVE BREAKPOINTS ****
Tablet -> 768px
Desktop -> 1024px
Widescreen -> 1216px
Macbook Pro 13" -> 1279px
FullHD -> 1408px
Big Screen -> 1599px
RealFullHD -> 1919px
*********************************/

:root {
    --main-color: #0E57D6;  /* rgb(14, 87, 214) */
    --transparent-main-color: rgba(14, 87, 214, 0.6);
}

.debug * {
    border: 1px solid red;
}

a {
    color: var(--main-color);
}

a:hover {
    color: #0a0a0a;
}

.arrow {
    font-size: 3rem;
    color: var(--main-color);
}

.arrow:hover {
    cursor: pointer;
    color: #0a0a0a !important;
}

.arrow.disabled {
    color: transparent !important;
    cursor: default;
}

body {
    height: 100vh;
    width: 100vw;
    padding-bottom: 20px;
}

button span {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.button.is-link {
	background-color: var(--main-color);
}

.carousel-hero {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#closeContactButton {
    border-color: transparent;
    color: var(--main-color);
}

#closeContactButton:hover {
    color: #0a0a0a;
}

@media only screen and (min-width: 1216px) and (max-width: 1278px) {
    .container {
        max-width: 1050px;
        width: 1050px;
    }
}
@media only screen and (min-width: 1279px) and (max-width: 1472px) {
    .container {
        max-width: 1152px;
        width: 1152px;
    }
}

@media only screen and (min-width: 1087px) {    /* 1087px beacuse it's when the navbar menu starts being visible */
    .container > .navbar .navbar-brand, .navbar > .container .navbar-brand {
        margin-left: -60px;
    }
}
@media only screen and (min-width: 1216px) {
    .container > .navbar .navbar-brand, .navbar > .container .navbar-brand {
        margin-left: -80px;
    }
}
@media only screen and (min-width: 1279px) {
    .container > .navbar .navbar-brand, .navbar > .container .navbar-brand {
        margin-left: -55px;
    }
}
@media only screen and (min-width: 1408px) {
    .container > .navbar .navbar-brand, .navbar > .container .navbar-brand {
        margin-left: -120px;
    }
}
@media only screen and (min-width: 1599px) {
    .container > .navbar .navbar-brand, .navbar > .container .navbar-brand {
        margin-left: -100px;
    }
}
@media only screen and (min-width: 1919px) {
    .container > .navbar .navbar-brand, .navbar > .container .navbar-brand {
        margin-left: -140px;
    }
}

.dialog-arrow-back {
    margin-right: auto;
}

.dialog-arrow-next {
    margin-left: auto;
}

.dialog-link {
    margin-top: 2rem;
}

.dialog-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.dialog-section .container {
    max-width: 1000px;
}

.dialog-text {
    flex-direction: column;
    align-items: flex-start;
}

.has-background-link {
	background-color: var(--main-color) !important;
}

.has-background-transparent {
    background-color: transparent;
}

.has-text-centered figure {
    margin: auto;
}

.has-text-link {
	color: var(--main-color) !important;
}

.has-text-info {
    color: var(--main-color) !important;
}

.hidden-section {
    display: none;
}

.image img.is-rounded {
	border-radius: 100%;
}

.image.is-square {
    padding-top: 340px;
}
@media only screen and (min-width: 768px) {
    .image.is-square {
        padding-top: 340px;
    }
}
@media only screen and (min-width: 1024px) {
    .image.is-square {
        padding-top: 210px;
    }
}
@media only screen and (min-width: 1216px) {
    .image.is-square {
        padding-top: 260px;
    }
}
@media only screen and (min-width: 1279px) {
    .image.is-square {
        padding-top: 320px;
    }
}
@media only screen and (min-width: 1599px) {
    .image.is-square {
        padding-top: 360px;
    }
}
@media only screen and (min-width: 1919px) {
    .image.is-square {
        padding-top: 402px;
    }
}

@media only screen and (max-width: 767px) {
    .is-size-2 {
        font-size: 1.65rem !important;
    }
}
@media only screen and (min-width: 768px) {
    .is-size-2 {
        font-size: 1.4rem !important;
    }
}
@media only screen and (min-width: 1024px) {
    .is-size-2 {
        font-size: 2rem !important;
    }
}
@media only screen and (min-width: 1216px) {
    .is-size-2 {
        font-size: 2.25rem !important;
    }
}
@media only screen and (min-width: 1408px) {
    .is-size-2 {
        font-size: 2.5rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .is-size-3 {
        font-size: 1.5rem !important;
    }
}
@media only screen and (min-width: 768px) {
    .is-size-3 {
        font-size: 1.4rem !important;
    }
}
@media only screen and (min-width: 1024px) {
    .is-size-3 {
        font-size: 1.55rem !important;
    }
}
@media only screen and (min-width: 1216px) {
    .is-size-3 {
        font-size: 1.7rem !important;
    }
}
@media only screen and (min-width: 1279px) {
    .is-size-3 {
        font-size: 1.85rem !important;
    }
}
@media only screen and (min-width: 1408px) {
    .is-size-3 {
        font-size: 2rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .is-size-4 {
        font-size: 1.35rem !important;
    }
}
@media only screen and (min-width: 768px) {
    .is-size-4 {
        font-size: 1.1rem !important;
    }
}
@media only screen and (min-width: 1024px) {
    .is-size-4 {
        font-size: 1.2rem !important;
    }
}
@media only screen and (min-width: 1216px) {
    .is-size-4 {
        font-size: 1.3rem !important;
    }
}
@media only screen and (min-width: 1279px) {
    .is-size-4 {
        font-size: 1.45rem !important;
    }
}
@media only screen and (min-width: 1408px) {
    .is-size-4 {
        font-size: 1.5rem !important;
    }
}

.landing-know-me {
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}
@media only screen and (min-width: 768px) {
    .landing-know-me {
        margin-top: 3rem;
    }
}
@media only screen and (min-width: 1024px) {
    .landing-know-me {
        margin-top: 4rem;
    }
}
@media only screen and (min-width: 1216px) {
    .landing-know-me {
        margin-top: 5rem;
    }
}
@media only screen and (min-width: 1408px) {
    .landing-know-me {
        margin-top: 6rem;
    }
}

.landing-know-me button {
    margin-right: 3rem;
    box-shadow: 0 5px 10px var(--transparent-main-color);
    border: none;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    color: var(--main-color);
    transition: all 0.2s ease;
}

.landing-know-me button:hover {
    transform: scale(1.2);
    color: #0a0a0a;
}

.landing-know-me div {
    font-weight: bold;
}

.landing-left-column {
    background-color: var(--main-color);
    height: 30vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@media only screen and (min-width: 768px) {
    .landing-left-column {
        height: 100vh;
    }
}

.landing-left-column .image {
    border-radius: 100%;
    margin-right: -200px;
    width: 200px;
    height: 200px;
    border: 20px solid white;
}
@media only screen and (max-width: 767px) {
    .landing-left-column .image {
        margin-bottom: -200px;
        margin-right: 0;
    }
}
@media only screen and (min-width: 768px) {
    .landing-left-column .image {
        margin-right: -200px;
        width: 272px;
        height: 272px;
    }
}
@media only screen and (min-width: 1024px) {
    .landing-left-column .image {
        margin-right: -245px;
        width: 360px;
        height: 360px;
        border: 20px solid white;
    }
}
@media only screen and (min-width: 1216px) {
    .landing-left-column .image {
        margin-right: -300px;
        width: 390px;
        height: 390px;
        border: 30px solid white;
    }
}
@media only screen and (min-width: 1279px) {
    .landing-left-column .image {
        margin-right: -315px;
        width: 432px;
        height: 432px;
        border: 30px solid white;
    }
}
@media only screen and (min-width: 1408px) {
    .landing-left-column .image {
        margin-right: -330px;
        width: 490px;
        height: 490px;
        border: 35px solid white;
    }
}
@media only screen and (min-width: 1599px) {
    .landing-left-column .image {
        margin-right: -410px;
        width: 530px;
        height: 530px;
        border: 37px solid white;
    }
}
@media only screen and (min-width: 1918px) {
    .landing-left-column .image {
        margin-right: -480px;
        width: 640px;
        height: 640px;
        border: 40px solid white;
    }
}

.landing-left-column .image img {
    border: 7px solid var(--main-color);
    border-radius: 100%;
}
@media only screen and (min-width: 1024px) {
    .landing-left-column .image img {
        border-width: 8px;
    }
}
@media only screen and (min-width: 1216px) {
    .landing-left-column .image img {
        border-width: 9px;
    }
}
@media only screen and (min-width: 1408px) {
    .landing-left-column .image img {
        border-width: 10px;
    }
}

.landing-right-column {
    align-items: center;
    flex-direction: column;
}
@media only screen and (max-width: 767px) {
    .landing-right-column {
        height: 70vh;
        padding-top: 60px;
    }
}
@media only screen and (min-width: 768px) {
    .landing-right-column {
        justify-content: center;
    }
}

.landing-subtitle {
    margin-left: 0;
}
@media only screen and (min-width: 1024px) {
    .landing-subtitle {
        margin-left: -6.5rem;
    }
}
@media only screen and (min-width: 1216px) {
    .landing-subtitle {
        margin-left: -7rem;
    }
}
@media only screen and (min-width: 1408px) {
    .landing-subtitle {
        margin-left: -7.75rem;
    }
}
@media only screen and (min-width: 1600px) {
    .landing-subtitle {
        margin-left: -8rem;
    }
}
@media only screen and (min-width: 1919px) {
    .landing-subtitle {
        margin-left: -9rem;
    }
}

.landing-title {
    font-size: 3.5rem;
}
@media only screen and (min-width: 768px) {
    .landing-title {
        font-size: 4.25rem;
    }
}
@media only screen and (min-width: 1024px) {
    .landing-title {
        font-size: 5.75rem;
    }
}
@media only screen and (min-width: 1216px) {
    .landing-title {
        font-size: 7rem;
    }
}
@media only screen and (min-width: 1408px) {
    .landing-title {
        font-size: 7.75rem;
    }
}
@media only screen and (min-width: 1600px) {
    .landing-title {
        font-size: 8.5rem;
    }
}
@media only screen and (min-width: 1918px) {
    .landing-title {
        font-size: 9rem;
    }
}

nav {
    transition: all 1s ease;
}

nav button:hover {
    position: relative;
    top: -2px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
}

nav.is-transparent {
    background: transparent;
}

nav.is-transparent .navbar-brand a {
    color: white;
}

nav.is-transparent .navbar-brand a:hover {
    color: #0a0a0a !important;
}

nav.is-transparent.portfolio-navbar .navbar-brand a {
    color: #0a0a0a;
}

nav.is-transparent.portfolio-navbar .navbar-brand a:hover {
    color: var(--main-color) !important;
}

nav.navbar.has-shadow {
    box-shadow: 0 4px 20px rgba(14, 87, 214, 0.3);
}

nav a {
    color: #0a0a0a;
}

nav a:hover {
    color: var(--main-color)
}

#openContactButton:hover {
    background-color: #0a0a0a !important;
}

p.is-bold {
    font-weight: bold;
}

p.quote {
    margin-top: 50px;
    margin-bottom: 30px;
}

#portfolioSection {
    margin-top: 50px;
}

#portfolioSection .column {
    display: flex;
    justify-content: center;
}

#portfolioSection .columns {
    max-width: 1300px;
}

#portfolioSection .columns:nth-child(2) .column {
    padding-bottom: 0;
}

#portfolioSection .image {
    width: 340px;
    height: 340px;
}
@media only screen and (min-width: 768px) {
    #portfolioSection .image {
        width: 340px;
        height: 340px;
    }
}
@media only screen and (min-width: 1024px) {
    #portfolioSection .image {
        width: 210px;
        height: 210px;
    }
}
@media only screen and (min-width: 1216px) {
    #portfolioSection .image {
        width: 260px;
        height: 260px;
    }
}
@media only screen and (min-width: 1279px) {
    #portfolioSection .image {
        width: 320px;
        height: 320px;
    }
}
@media only screen and (min-width: 1599px) {
    #portfolioSection .image {
        width: 360px;
        height: 360px;
    }
}
@media only screen and (min-width: 1919px) {
    #portfolioSection .image {
        width: 400px;
        height: 400px;
    }
}

.portfolioImg  {
    width: 340px;
    height: 340px;
}
@media only screen and (min-width: 768px) {
    .portfolioImg {
        width: 340px;
        height: 340px;
    }
}
@media only screen and (min-width: 1024px) {
    .portfolioImg {
        width: 210px;
        height: 210px;
    }
}
@media only screen and (min-width: 1216px) {
    .portfolioImg {
        width: 260px;
        height: 260px;
    }
}
@media only screen and (min-width: 1279px) {
    .portfolioImg {
        width: 320px;
        height: 320px;
    }
}
@media only screen and (min-width: 1599px) {
    .portfolioImg {
        width: 360px;
        height: 360px;
    }
}
@media only screen and (min-width: 1919px) {
    .portfolioImg {
        width: 400px;
        height: 400px;
    }
}

.portfolioImg .hovered {
    background-color: var(--main-color);
}

.portfolioImg .hovered img {
    opacity: 0.5;
}

.portfolio-navbar {
    background-color: white !important;
}

.portfolio-navbar .navbar-brand a {
    color: #0a0a0a;
}

.portfolio-navbar .navbar-brand a:hover {
    color: var(--main-color);
}

.portfolio-text-column {
    padding: 2rem .25rem 2rem .25rem !important;
    display: block !important;
}
@media only screen and (min-width: 768px) {
    .portfolio-text-column {
        padding: 2rem 4rem 0 4rem;
    }
}
@media only screen and (min-width: 1024px) {
    .portfolio-text-column {
        padding: 3rem 5rem 0 5rem;
    }
}
@media only screen and (min-width: 1216px) {
    .portfolio-text-column {
        padding: 3.5rem 6rem 0 6rem;
    }
}
@media only screen and (min-width: 1408px) {
    .portfolio-text-column {
        padding: 3.75rem 7.5rem 0 7.5rem;
    }
}
@media only screen and (min-width: 1600px) {
    .portfolio-text-column {
        padding: 4rem 8.5rem 0 8.5rem;
    }
}

.quote-author {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.quote-author p.title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

section .title {
    margin-top: 80px;
    margin-bottom: 20px;
}

.section.is-link {
    background-color: var(--main-color);
    color: white;
}

.slick-slide img {
    margin: auto;
}

#workflowSection section:nth-child(1) {
    padding: 2rem .25rem 4rem .25rem;
}
@media only screen and (min-width: 768px) {
    #workflowSection section:nth-child(1) {
        padding: 8rem 1.5rem;
    }
}
@media only screen and (min-width: 1024px) {
    #workflowSection section:nth-child(1) {
        padding: 2rem 0;
    }
}
@media only screen and (min-width: 1216px) {
    #workflowSection section:nth-child(1) {
        padding: 4rem 0 2rem 0;
    }
}
@media only screen and (min-width: 1279px) {
    #workflowSection section:nth-child(1) {
        padding: 4.8rem 0 2.75rem 0;
    }
}
@media only screen and (min-width: 1408px) {
    #workflowSection section:nth-child(1) {
        padding: 4.75rem 0 2.5rem 0;
    }
}
@media only screen and (min-width: 1599px) {
    #workflowSection section:nth-child(1) {
        padding: 6.5rem 1.5rem;
    }
}
@media only screen and (min-width: 1919px) {
    #workflowSection section:nth-child(1) {
        padding: 8rem 1.5rem;
    }
}

#workflowSection section:nth-child(2) {
    padding: .5rem .25rem .5rem .25rem;
}
@media only screen and (min-width: 768px) {
    #workflowSection section:nth-child(2) {
        padding: 0;
    }
}
@media only screen and (min-width: 1024px) {
    #workflowSection section:nth-child(2) {
        padding: 0.75rem;
    }
}
@media only screen and (min-width: 1216px) {
    #workflowSection section:nth-child(2) {
        padding: 1rem 0 2rem 0;
    }
}
@media only screen and (min-width: 1279px) {
    #workflowSection section:nth-child(2) {
        padding: 2rem 0 3rem 0;
    }
}
@media only screen and (min-width: 1408px) {
    #workflowSection section:nth-child(2) {
        padding: 2rem 0 3rem 0;
    }
}
@media only screen and (min-width: 1599px) {
    #workflowSection section:nth-child(2) {
        padding: 4rem 1.5rem;
    }
}
@media only screen and (min-width: 1919px) {
    #workflowSection section:nth-child(2) {
        padding: 4.5rem 1.5rem;
    }
}

@media only screen and (max-width: 767px) {
    #workflowSection section:nth-child(2) .column {
        text-align: center;
    }
}

/* TODO: Remove element padding from workflow sections and make it responsive */
/* TODO: Make portfolio section responsive (it takes the whole screen) */

/*
@media only screen and (min-width: 768px) {
    {
        
    }
}
@media only screen and (min-width: 1024px) {
    {
        
    }
}
@media only screen and (min-width: 1216px) {
    {
        
    }
}
@media only screen and (min-width: 1279px) {
    {
        
    }
}
@media only screen and (min-width: 1408px) {
    {
        
    }
}
@media only screen and (min-width: 1599px) {
    {
        
    }
}
@media only screen and (min-width: 1919px) {
    {
        
    }
}
*/