/* Fonts */

/*@font-face{
    font-family: RobotoMedium;
    src: url(../fonts/Roboto/roboto-medium.ttf);
}*/

/*
* {
    border: 1px solid red;
}
*/

:root {
    --main-color: #0E57D6;  /* rgb(14, 87, 214) */
    --transparent-main-color: rgba(14, 87, 214, 0.6);
}

a {
    color: #0a0a0a;
}

a:hover {
    color: var(--main-color);
}

.arrow {
    font-size: 3rem;
}

.arrow:hover {
    cursor: pointer;
}

.arrow.disabled {
    color: transparent !important;
    cursor: default;
}

body {
    height: 100vh;
    width: 100vw;
    padding-bottom: 20px;
}

button span {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.button.is-link {
	background-color: var(--main-color);
}

.carousel-hero {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#closeContactButton {
    border-color: transparent;
}

#closeContactButton:hover {
    color: rgba(255, 0, 0, 0.65);
}

.container > .navbar .navbar-brand, .navbar > .container .navbar-brand {
	margin-left: -12rem;
}

.dialog-arrow-back {
    margin-right: auto;
}

.dialog-arrow-next {
    margin-left: auto;
}

.dialog-link {
    margin-top: 2rem;
}

.dialog-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.dialog-section .container {
    max-width: 1000px;
}

.dialog-text {
    flex-direction: column;
    align-items: flex-start;
}

.has-background-link {
	background-color: var(--main-color) !important;
}

.has-background-transparent {
    background-color: transparent;
}

.has-text-centered figure {
    margin: auto;
}

.has-text-link {
	color: var(--main-color) !important;
}

.has-text-info {
    color: var(--main-color) !important;
}

.hidden-section {
    display: none;
}

.image img.is-rounded {
	border-radius: 100%;
}

.landing-know-me {
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.landing-know-me button {
    margin-right: 3rem;
    box-shadow: 0 5px 10px var(--transparent-main-color);
    border: none;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.landing-know-me div {
    font-weight: bold;
}

.landing-left-column {
    background-color: var(--main-color);
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.landing-left-column .image {
    margin-right: -30rem;
    width: 640px;
    height: 640px;
    border: 40px solid white;
    border-radius: 100%;
}

.landing-left-column .image img {
    border: 10px solid var(--main-color);
    border-radius: 100%;
}

.landing-right-column {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing-subtitle {
    margin-left: -9.5rem;
}

.landing-title {
    font-size: 9.5rem;
}

nav {
    transition: all 1s ease;
}

nav button:hover {
    margin-top: -1px;
}

nav.is-transparent {
    background: transparent;
}

nav.is-transparent .navbar-brand a {
    color: white;
}

nav.is-transparent .navbar-brand:hover {
    color: black;
}

nav.navbar.has-shadow {
    box-shadow: 0 4px 20px rgba(14, 87, 214, 0.3);
}

p.is-bold {
    font-weight: bold;
}

p.quote {
    margin-top: 50px;
    margin-bottom: 30px;
}

#portfolioSection {
    margin-top: 50px;
}

#portfolioSection .columns {
    max-width: 1300px;
}

#portfolioSection .image {
    max-width: 400px;
    max-height: 400px
}

.portfolioImg  {
    width: 400px;
    height: 400px;
}

.portfolioImg .hovered {
    background-color: var(--main-color);
}

.portfolioImg .hovered img {
    opacity: 0.5;
}

.quote-author {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.quote-author p.title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

section .title {
    margin-top: 80px;
    margin-bottom: 20px;
}

.section.is-link {
    background-color: var(--main-color);
    color: #fff;
}

.slick-slide img {
    margin: auto;
}